/* These transitions are from YouTube */

/* Horizontal slide-in animation from the left */
@keyframes transitionIn-X{
        from {
            opacity: 0; /* Fully transparent */
            transform: translateX(-10px); /* Move 10px left */
        }
    
        to {
            opacity: 1; /* Fully visible */
            transform: translateX(0); /* Original position */
        }
    }
        
    /* Vertical slide-in animation from the top */
    @keyframes transitionIn-Y-over{
        from {
            opacity: 0; /* Fully transparent */
            transform: translateY(-10px); /* Move 10px up */
        }
    
        to {
            opacity: 1; /* Fully visible */
            transform: translateY(0); /* Original position */
        }
    }
        
    /* Vertical slide-in animation from the bottom */
    @keyframes transitionIn-Y-bottom{
        from {
            opacity: 0; /* Fully transparent */
            transform: translateY(30px); /* Move 30px down */
        }
    
        to {
            opacity: 1; /* Fully visible */
            transform: translateY(0); /* Original position */
        }
    }
    
    /* Transition end */
    